@import "tailwindcss";
/* @import "@nuxt/ui"; */

@layer base {
  .body {
    background: #f0f2f5;
  }
}

@theme {
  --font-display: "Roboto", "sans-serif";
  --font-condensed: "Roboto Condensed", "sans-serif";
}
